<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--Current supported currencies and their denominations-->
      <add key="MXN" value="0.05|0.10|0.20|0.50|1.00|2.00|5.00|10.00|20.00|50.00|100.00"/>
      <add key="USD" value="0.01|0.05|0.10|0.25|0.50|1.00|2.00|5.00|10.00|20.00|50.00|100.00"/>

      <add key="invalidMXN" value="0.05,0.10|0.20|0.50|1.00|2.00|5.00|10.00|20.00|50.00|100.00"/>
       <!--This is the default currency configured-->
      <add key="DefaultCurrencyValue" value="MXN"/>
    </appSettings>
</configuration>